{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block body %}
<form action="/search">

  <div class="container main">
        <body style="background-color:#7B97BC">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><p>About WaterImpact </p></h1>
        </div>
    </div>


  <div class="row">
      <div class="col-md-12 portfolio-item">

        <p> &nbsp; </p>
        <p> We're a group of CS70 hackers who want to make it easier to understand </p>
        <p>   quantities of water we use when consuming various food products. </p>

        <p> &nbsp; </p>
        <p> WaterImpact allows the user to compare the quantities of water </p>
        <p> are required to produce different foods. Because these quantities</p>
        <p> are often incomprehensibly large, we've provided a way to switch </p>
        <p> between gallons and other units of water, including the water used </p>
        <p> in a 15-minute shower or used when flushing a toilet. </p>
        <p> &nbsp; </p>

          <p><u>Some notes on our numbers: </u> </p>
          <p> &nbsp; </p>
          <p> Showers: 2-5 gallons per minute, 35 gallons for a 10-min shower</p>
          <p> &nbsp; </p>
          <p> Toilet flushes: 1.6 gallons per flush</p>
          <p> &nbsp; </p>
          <p> Load of laundry: 30 gallons per load </p>
          <p> &nbsp; </p>
          <p> Load of dishes: 10 gallons</p>
          <p> &nbsp; </p>
          <p> Running tap: 1.5 gallons per minute </p>


        <div class="ui icon input centered">

        </div>

      </div>
  </div>


  </div>

</form>

{% endblock %}
