{% extends "base.html" %}

{% block title %}Compare Two Foods{% endblock %}

{% block body %}
<form action="/foodComparison">
  <body style="background-color:#F0FAFC">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><p> Compare away! </p></h1>
        </div>
    </div>
  <div class="container main">
  <div class="row">
      <div class="col-md-12 portfolio-item">

        <div class="ui icon input centered">
            <i class="search icon"></i>
            <h2> Food 1: &nbsp; </h2>
            <input name="food1" type="text" placeholder="Food 1">
            <input name="quantity1" type="text" placeholder="Quantity 1">
            <input name="unit1" type="text" placeholder="Unit 1">
        </div>

      </div>
    </div>
    <div class="row">
        <div class="col-md-12 portfolio-item">

          <div class="ui icon input centered">
              <i class="search icon"></i>
              <h2> Food 2: &nbsp; </h2>
              <input name="food2" type="text" placeholder="Food 2">
              <input name="quantity2" type="text" placeholder="Quantity 2">
              <input name="unit2" type="text" placeholder="Unit 2">
              <!-- <input type="submit" value="Submit"> -->
          </div>

        </div>
      </div>

      <div class="row">
          <div class="col-md-12 portfolio-item">

            <div class="ui icon input centered">

                <!-- <input type="submit" value="Submit"> -->

                <button id="whaever" class="btn btn-large btn-primary" style="padding: 20px;" value="Submit" type="submit">
                    <span>Submit</span>
                    <i class="icon-ok" color="#F0FAFC" style="font-size:30px; vertical-align: middle;"></i>
                </button>


            </div>

          </div>
        </div>
</div>

</form>

{% if waterDiff %}
<div class = "container main">
  <h2> THE WATER DIFFERENCE EXISTS </h2>
  {% if firstGreaterThanSecond %}
    <h1> You would save {{ waterDiff }} gallons of water by choosing {{ food2 }} instead </h1>
  {% else %}
    <h1> You would be using {{ -waterDiff }} more gallons of water if you chose {{ food2 }} instead of {{ food1 }} </h1>
  {% endif %}
</div>
{% endif %}
  <p> &nbsp; </p>
    <p> &nbsp; </p>
      <p> &nbsp; </p>
        <p> &nbsp; </p>
          <p> &nbsp; </p>


{% endblock %}
