{% extends "base.html" %}

{% block title %}Get Food Info{% endblock %}

{% block body %}
<form action="/getFoodInfo">
    <div class="ui huge icon input">
        <i class="search icon"></i>
        <input name="food" type="text" placeholder="Food">
        <input name="quantity" type="text" placeholder="Quantity">
        <input name="unit" type="text" placeholder="Unit">
        <input type="submit" value="Submit">
    </div>
</form>

{% if waterQuantity %}
<div class="main container">
  <h2> Something happened </h2>
</div>
{% endif %}

{% endblock %}
