{% extends "base.html" %}

{% block title %}Sources{% endblock %}

{% block body %}
<form action="/search">

  <div class="container main">
    <body style="background-color:#7B97BC">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><p>About WaterImpact </p></h1>
        </div>
    </div>


  <div class="row">
      <div class="col-md-12 portfolio-item">

        <p> &nbsp; </p>
        <p> Thank you to: </p>

        <p> &nbsp; </p>
        <p> &nbsp; </p>

          <p> &nbsp; </p>
          <p> To the people behind Splooshed</p>
          <p> &nbsp; </p>
          <a href="http://devpost.com/software/splooshed">http://devpost.com/software/splooshed</a>

          <p> &nbsp; </p>
          <p> Thank you for so generously sharing your Splooshed API with us!</p>
          <p> &nbsp; </p>
          <p> And thank you to Aloke Desai, Ross Wollman and</p>

          <p> the rest of the team behind the 5C Hackathon </p>
          <p> so that two Pomona seniors could join forces </p>
          <p> with a Pitzer sophomore so that they could </p>
          <p> participate in their first Hackathon before </p>
          <p> graduating from Pomona. </p>


        <div class="ui icon input centered">

        </div>

      </div>
  </div>


  </div>

</form>

{% endblock %}
